body{
	margin-right:10%;
	margin-left:10%;
	background:url("background5.jpg");
	background-size:100% 100%;
}
#id1{
	border-bottom:2px blue dashed;
}
.main{
	border: 10px white solid;
	background-color: white;
}

#tag2{
font-size:14pt;
color:red;
}
.pic img{
    float:right;	
}
#tag1{

text-align:right;
bordr:5px red solid;
background:#A8F0F0

}

.item{
	margin-top:10px;
	padding:5px;
	border:4px #C2E9E9 solid;
	background-color:#E8FBFB;
	
}
.clear{
clear:both
}

.para
{
	clear:both;
}

